* {
  box-sizing:border-box;
}


body {
  margin:0;
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.6;
}

/*title of the page*/
.title {
  background-color:white;
  padding:20px 10px 5px 10px;
  height:60pt;
  overflow:hidden;
}


/*menu*/
.menu ul {
  list-style:none;
  margin:0;
  padding:0;
  display:flex;
  flex-wrap: wrap;
}

/*menu buttons*/
.menu ul li{
  width:20%;
}

/*dropdown box*/
.menu ul li > ul {
  display:none;
  flex:column;
}

.menu ul li > ul li {
  width: 100%;
}

/*hovering over the dropdown box*/
.menu ul li:hover > ul {
  display: flex;
}

/*menu button*/
.menu ul li > a {
  display: block;
  background: #80ccff;
  padding: 20px 10px 26px 10px;
  color: white;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid rgba(1,2,3,0.3);
}


/*hovering over the menu button*/
.menu ul li > a:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

/* attributes for the dropdown content*/
.menu ul li:hover > ul li > a {
  color: black;
  background-color:#F5F5F5;
}

/*attributes for the dropdown selection when hovered*/
.menu ul li:hover > ul li > a:hover {
  background-color: #00ace6;
  color: white;
  text-decoration:none;
}

.sub-menu > a:after {
  content: "+";
  padding-left: 5px;
}

/*when screen width is less than 700px*/
@media screen and (max-width: 700px) {
  .menu ul {
    flex-direction: column;
  }

  .menu ul li {
    width:100%;
  }
}
