html, body {
  margin: 0;
  padding: 0;
}


body {
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.6;
}

.title {
  background-color:white;
  padding:20px 10px 5px 10px;
  height:80px;
  margin: 0;
  overflow:hidden;
}


.menu {
  background-color: #80ccff;
  height:60px;
  margin: -60px;
  box-shadow: 5px 5px #BEBEBE;
}

a:link, a:visited {
  color:white;
  padding:16px;
  text-align: center;
  text-decoration:none;
  display:inline;
  margin: 20px;
}

a:hover, a:active {
  background-color: white;
  color: black;
}
